{% extends "layouts/base.html" %} {% block title %}ログ画面 - {{ super()
}}{%endblock %} {% block content %}

<script>
  $(document).ready(function () {
    var output = document.getElementById('makeconfigLog');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for("makeconfig_log") }}', true);
    xhr.send();
    setInterval(function () {
      output.textContent = xhr.responseText;
    }, 500);
  });
  $(document).ready(function () {
    var output = document.getElementById('mainLog');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for("reseq_pbp_log") }}', true);
    xhr.send();
    setInterval(function () {
      output.textContent = xhr.responseText;
    }, 500);
  });

</script>

<div class="container">
  <div class="text-right mt-3">
    <button type="button" class="btn btn-secondary"><i class="fa fa-refresh" aria-hidden="true"
        onclick="window.location.reload();"></i></button>
  </div>
  <h3>Makeconfig's log</h3>
  <ul class="list-group">
    <pre id="makeconfigLog" class="list-group-item list-group-item-dark pre-scrollable">No data</pre>
  </ul>
  <h3 class="my-3">Analysis's log</h3>
  <ul class="list-group">
    <pre id="mainLog" class="list-group-item list-group-item-dark pre-scrollable">No data</pre>
  </ul>

</div>

{% endblock %}
