{% extends "layouts/base.html" %} {% block title %}ダウンロード画面 - {{ super()
}}{%endblock %} {% block content %}

<script>
  setTimeout("downloadFiles()", 2000);
  setTimeout("redirect()", 6000);
  function redirect(){
    location.href="/";
  }

  function downloadFiles(){
    document.getElementById('download').click();
  }
</script>

<div class="container">
  <h1 class="font-weight-bold my-3">Downloading...</h1>
  <a href="download" style="display:none" id="download">Download</button>
</div>

{% endblock %}
