{% extends "layouts/base.html" %} {% block title %}ゲノム選択 - {{ super()
}}{%endblock %} {% block content %}

<div class="my-3">
  <h3 class="font-weight-bold">Referenceファイル選択</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">標準ゲノム・保存済みカスタムゲノム</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">新規ユーザーカスタムゲノムの選択</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <div class="card px-2 py-2">
        <form class="col-6" action="/" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="text-helper">
              <label for="select_genome" class="font-weight-bold">リファレンスゲノムを選択してください</label>
              <div class="text-helper_content">
                <!-- ここにHELPを入れる -->
                <i class="fa fa-question-circle text-helper_img text-secondary"></i>
                <div class="text-helper_helper">
                  <p>{{ detail_messages.select_genome0 }}</p>
                </div>
                <!-- ここにHELPを入れる -->
              </div>
            </div>
            <select class="form-control" name="select_genome" required>
              <option value="" disabled selected>選択して下さい</option>
              {% for reference_genome in reference_genomes %}
              <option value="{{reference_genome['item']}}">{{reference_genome["name"]}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-success" formaction="post1">ダウンロード</button>
        </form>
      </div>
      <div class="card px-2 py-2 mt-10">
        <form class="col-6" action="/" method="POST" enctype="multipart/form-data">
          <label class="font-weight-bold">標準ゲノムリストの更新</label>
          <div class="text-helper_content">
            <!-- ここにHELPを入れる -->
            <i class="fa fa-question-circle text-helper_img text-secondary"></i>
            <div class="text-helper_helper">
              <p>Plant Gardenに登録されているゲノムのリストを取得し、ダウンロード可能な標準ゲノムを更新します。</p>
            </div>
            <!-- ここにHELPを入れる -->
          </div>
          <div class="form-group form-check">
            <input type="checkbox" id="update_genome_list" name="check" value="is_update">
            <label for="update_genome_list">標準ゲノムリストを更新する</label>
          </div>
          <button type="submit" class="btn btn-success" id="modal_show1" formaction="/update-genome-list"
            data-toggle="modal" data-target=".bd-example-modal-xl" data-backdrop="static">アップデート
          </button>
        </form>
      </div>
    </div>
    <div id="tab2" class="tab-pane">
      <div class="card px-2 py-2">
        <form class="col-6" action="/" method="POST" enctype="multipart/form-data">
          <label for="send_file" class="font-weight-bold">取り込むリファレンスゲノム名を記載してください。</label>
          <div class="text-helper_content">
            <!-- ここにHELPを入れる -->
            <i class="fa fa-question-circle text-helper_img text-secondary"></i>
            <div class="text-helper_helper">
              <p>ゲノム名は大小英数字および小文字の記号_.+-で構成してください。</p>
            </div>
            <!-- ここにHELPを入れる -->
          </div>
          <div class="form-inline">
            <input type="text" id="text" class="form-control" name="send_file" placeholder="例: data_covid19" required />
          </div>

          <label for="reference_file" class="font-weight-bold">取り込むリファレンスゲノムファイルを選択してください。</label>
          <div class="text-helper_content">
            <!-- ここにHELPを入れる -->
            <i class="fa fa-question-circle text-helper_img text-secondary"></i>
            <div class="text-helper_helper">
              <p>任意のリファレンスゲノムをbgzipで圧縮したgz形式のものをアップロードしてください。</p>
            </div>
            <!-- ここにHELPを入れる -->
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="reference_file" required>
              <label class="custom-file-label" for="reference_file">reference.gz file...</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" formaction="post2" class="btn btn-success" type="button" class="btn btn-primary">
              アップロード
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
