{% extends "layouts/base.html" %} {% block title %}設定画面 - {{ super()
}}{%endblock %} {% block content %}

<script>
  // Called when the button is clicked
  function toogleButton(callingElement, hiddenElement, element, func = null, funcElement = null) {
    // Check the color of the button
    if (callingElement.classList.contains('btn-secondary')) {
      // If the button is 'unset'; change color and update hidden element to 1
      callingElement.classList.remove('btn-secondary');
      callingElement.classList.add('btn-success');
      var x = document.getElementById(element);
      x.value = "☑︎" + x.value;
      document.getElementById(hiddenElement).value = "T";
    }
    else {
      // If the button is 'set'; change color and update hidden element to 0
      callingElement.classList.remove('btn-success');
      callingElement.classList.add('btn-secondary');
      var x = document.getElementById(element);
      x.value = x.value.replace("☑︎", "");
      document.getElementById(hiddenElement).value = "F";
    }

    changeDisabledForSubmitButton();

    if (func) {
      func(funcElement, document.getElementById(hiddenElement).value)
    }
  }

  function invertDisplay(funcElement, value) {
    if (value == "F") {
      document.getElementById(funcElement).style.display = "none";
    }
    else {
      document.getElementById(funcElement).style.display = "inline";
    }
  }

  function isSubmittable() {
    const sample_ini = document.getElementById('sample_ini').files;
    if (sample_ini.length === 0) {
      return false;
    }
    const fastq = document.getElementById('fastqFile[]').files;
    if (fastq.length === 0) {
      return false;
    }
    const adapterTrim = document.getElementsByName("adapter_trim")[0].value
    if (adapterTrim === "T") {
      const adapter5 = document.getElementsByName("adapter5")[0].value
      const adapter3 = document.getElementsByName("adapter3")[0].value
      if (adapter5 === "" && adapter3 === "") {
        return false;
      }
    }

    const variant_call = document.getElementsByName("variant_call")[0].value
    if (variant_call === "T") {
      const isVcf = document.getElementsByName("vcf")[0].value === "T"
      const isGvcf = document.getElementsByName("gvcf")[0].value === "T"
      if (!isVcf && !isGvcf) {
        return false;
      }
    }

    return true
  }

  function changeDisabledForSubmitButton(){
    document.getElementById('modal_show').disabled = !(isSubmittable());
  }
</script>

<div>
  <h1 class="font-weight-bold mt-4">Settings</h1>
  <div class="card p-4">

    <div class="text-helper">
      <h3 class="font-weight-bold">Select genome</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
          <p>{{ detail_messages.select_genome }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>
    </div>
    <label for="select_genome">{{ select_genome }}</label>

    <form action="/" method="POST" enctype="multipart/form-data">
      <h3 class="font-weight-bold">Choose file</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
          <p>{{ detail_messages.choose_file[0] }}<br>{{ detail_messages.choose_file[1] }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>
      <div class="form-group col-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="sample_ini" name="sample_ini" onchange="changeDisabledForSubmitButton()">
          <label class="custom-file-label" for="sample_ini">Choose sample.ini file...</label>
        </div>
      </div>
      <div id="file" class="input-group">
      <div class="form-group col-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="fastqFile[]" name="fastqFile[]" onchange="changeDisabledForSubmitButton()" multiple="multiple">
          <label class="custom-file-label" for="fastqFile[]">Choose fastq files...</label>
        </div>
        </div>
      </div>

      <h3 class="font-weight-bold my-3">Quality check</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
          <p>{{ detail_messages.quality_check }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>

      <div class="form-group">
        <div data-toggle="buttons">
          <!-- Visible button -->
          <input onclick="toogleButton(this,'hiddenFastQC', 'FastQC')" class="btn btn-secondary" type="button" id="FastQC"
            value="Quality check (FastQC)">
          <!-- Hidden input -->
          <input name="q_check" id="hiddenFastQC" type="hidden" value="F"></input>
        </div>
      </div>

      <h3 class="font-weight-bold my-3">Quality control</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
          <p>{{ detail_messages.quality_control }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>

      <div class="form-group">
        <div data-toggle="buttons">
          <!-- Visible button -->
          <input onclick="toogleButton(this,'hiddenAdapterTrim','adapterTrim', invertDisplay, 'adapterDisp')"
            class="btn btn-secondary" type="button" id="adapterTrim", value="Adapter trim">
          <!-- Hidden input -->
          <input name="adapter_trim" id="hiddenAdapterTrim" type="hidden" value="F"></input>
        </div>
        <div id="adapterDisp" style="display:none">
          <div class="form-inline my-3">
            <label for="adapter5">Adapter(5'): </label>
            <input type="text" id="text" class="form-control mx-2" name="adapter5"
              placeholder="CAGAAAAACTAA,ACTTTCGATCT" onchange="changeDisabledForSubmitButton()" />
          </div>
          <div class="form-inline">
            <label for="adapter3">Adapter(3'): </label>
            <input type="text" id="text" class="form-control mx-2" name="adapter3" placeholder="ATGCTTAGTG" onchange="changeDisabledForSubmitButton()" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div data-toggle="buttons">
          <!-- Visible button -->
          <input onclick="toogleButton(this,'hiddenQc','qControl', invertDisplay, 'qcDisp')" class="btn btn-secondary"
            type="button" id="qControl", value="Quality control">
          <!-- Hidden input -->
          <input name="q_control" id="hiddenQc" type="hidden" value="F"></input>
        </div>
        <div id="qcDisp" style="display:none">
          <div class="form-inline my-3">
            <label for="reference">Quality control:</label>
            <input type="text" id="text" class="form-control mx-2" name="q_control_val"
              placeholder="Default value: 30" />
          </div>
        </div>
      </div>

      <h3 class="font-weight-bold my-3">Mapping on a reference</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
         <p>{{ detail_messages.mapping }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>

      <div class="form-group">
        <div data-toggle="buttons">
          <!-- Visible button -->
          <input onclick="toogleButton(this,'hiddenMap', 'mapping')" class="btn btn-secondary" type="button" id="mapping", value="Mapping">
          <!-- Hidden input -->
          <input name="mapping" id="hiddenMap" type="hidden" value="F"></input>
        </div>
      </div>

      <h3 class="font-weight-bold my-3">Analysis of Mapping results</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
         <p>{{ detail_messages.results }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>

      <div class="form-group">
        <div data-toggle="buttons">
          <!-- Visible button -->
          <input onclick="toogleButton(this,'hiddenVc', 'vc', invertDisplay, 'vcDisp')" class="btn btn-secondary"
            type="button" id="vc", value="Variant call">
          <!-- Hidden input -->
          <input name="variant_call" id="hiddenVc" type="hidden" value="F"></input>
        </div>
      </div>
      <div class="form-group">
        <div id="vcDisp" style="display:none">
          <div class="form-inline">
            <label for="reference">Output format: </label>
            <div class="mx-2" data-toggle="buttons">
              <!-- Visible button -->
              <input onclick="toogleButton(this,'hiddenVcf', 'vcf')" class="btn btn-secondary" type="button" id="vcf", value="vcf">
              <!-- Hidden input -->
              <input name="vcf" id="hiddenVcf" type="hidden" value="F"></input>
              <!-- Visible button -->
              <input onclick="toogleButton(this,'hiddenGvcf', 'gvcf')" class="btn btn-secondary" type="button" id="gvcf", value="gvcf">
              <!-- Hidden input -->
              <input name="gvcf" id="hiddenGvcf" type="hidden" value="F"></input>
            </div>
          </div>
        </div>
      </div>
      <!-- <button id="modal_show" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" data-backdrop="static"> Launch demo modal</button> -->
      <!-- onclick="viewModal(this, 'modal1')" -->
      <h3 class="font-weight-bold my-3">RUN BACK</h3>
      <div class="text-helper_content">
        <!-- ここにHELPを入れる -->
        <i class="fa fa-question-circle text-helper_img text-secondary" style="font-size:24px"></i>
        <div class="text-helper_helper">
          <p>{{ detail_messages.run_back }}</p>
        </div>
        <!-- ここにHELPを入れる -->
      </div>
      <div class="form-group">
        <button type="submit" formaction="analysis" class="btn btn-success" id="modal_show" type="button"
          class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" data-backdrop="static" disabled="true">
          RUN
        </button>
        <a href="select-genome" class="btn btn-secondary">BACK</a>
      </div>
    </form>

  </div>

  <div class="mt-4">
    <h1 class="font-weight-bold mt-4">Input files</h1>

    <div class="card px-4 py-3">
      <p>一列目 : サンプル名、二列目 : forwardリードのfastqファイル名、三列目 :
        reverseリードのfastqファイル名（シングルエンドの時は二列目まで記載）のCSV形式のファイルを作成して入力してください。この際、サンプル名およびファイル名は半角英数および特定の半角記号（+-_.）で構成してください。区切り文字がカンマ（,）になりますので以下に示す例のような形でサンプル名・ファイル名の間をカンマで区切ってください。
      </p>

      <pre
        class="list-group-item list-group-item-dark">sampleA,sampleA_R1.fq.gz,sampleA_R2.fq.gz<br>sampleB,sampleB_R1.fq.gz,sampleB_R2.fq.gz<br>sampleC,sampleC_R1.fq.gz</pre>

    </div>
  </div>

  <div class="mt-4">
    <h1 class="font-weight-bold mt-4">Output files</h1>

    <div class="card px-4 py-3">
      <table class="table">
        <tr>
          <th>dir / file</th>
          <th>explanation</th>
        </tr>
        <tr>
          <th>file : log.txt</th>
          <td>reseq_pbp.pyのログファイル</td>
        </tr>
        <tr>
          <th>file : sample.ini</th>
          <td>入力したini</td>
        </tr>
        <tr>
          <th>file : test.conf</th>
          <td>入力したconf</td>
        </tr>
        <tr>
          <th>dir : fastqc</th>
          <td>fastqcの結果を格納するディレクトリ。</td>
        </tr>
        <tr>
          <th>file : fastqc/*.html</th>
          <td>各サンプルのfastqcのレポート。</td>
        </tr>
        <tr>
          <th>file : fastqc/*.zip</th>
          <td>各サンプルの図などをまとめたzip。</td>
        </tr>
        <tr>
          <th>dir : adapter_trim</th>
          <td>adapter切除後のfastqを格納するディレクトリ。</td>
        </tr>
        <tr>
          <th>file : adapter_trim/*.fq.gz</th>
          <td>adapter切除後の各サンプルのforward / reverseそれぞれのfastq。</td>
        </tr>
        <tr>
          <th>dir : quality_control</th>
          <td>quality control後のfastqを格納するディレクトリ。</td>
        </tr>
        <tr>
          <th>file : quality_control/*.fq.gz</th>
          <td>quality control後の各サンプルのforward / reverseそれぞれのfastq。</td>
        </tr>
        <tr>
          <th>dir : mapping</th>
          <td>mapping結果を格納するディレクトリ。</td>
        </tr>
        <tr>
          <th>file : mapping/*.bam</th>
          <td>各サンプルのmapping結果。</td>
        </tr>
        <tr>
          <th>file : mapping/*_sorted.bam</th>
          <td>各サンプルのsort済みのmapping結果。</td>
        </tr>
        <tr>
          <th>file : mapping/*.bam.bai</th>
          <td>bamのIndex。</td>
        </tr>
        <tr>
          <th>dir : variant_call</th>
          <td>variant callの結果を格納するディレクトリ。</td>
        </tr>
        <tr>
          <th>file : variant_call/*_markdup.bam</th>
          <td>重複するリードをマークしたbam。</td>
        </tr>
        <tr>
          <th>file : variant_call/*_metrics.txt</th>
          <td>重複するリードをマークした際のまとめ。</td>
        </tr>
        <tr>
          <th>file : variant_call/*_plus_RG.bam</th>
          <td>重複するリードをマークしたbamにRead Groupを加えて変異検出に向けて準備したもの。</td>
        </tr>
        <tr>
          <th>file : variant_call/*.bam.bai</th>
          <td>bamのIndex。</td>
        </tr>
        <tr>
          <th>file : variant_call/*.vcf.gz</th>
          <td>変異検出結果のvcf。</td>
        </tr>
        <tr>
          <th>file : variant_call/*.vcf.gz.tbi</th>
          <td>変異検出結果のvcfのindex。</td>
        </tr>
        <tr>
          <th>file : variant_call/*.g.vcf.gz</th>
          <td>変異検出結果のgvcf。</td>
        </tr>
        <tr>
          <th>file : variant_call/*.g.vcf.gz.tbi</th>
          <td>変異検出結果のgvcfのindex。</td>
        </tr>
      </table>

    </div>
  </div>

</div>

<!-- Large modal -->
<div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
  data-show="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="modal-title te">Analyzing...</h4>
      </div><!-- /modal-header -->
      <div class="modal-body">
        <p class="recipient">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        </p>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="_overlay" id="_overlay"></div>

<script>

  $(function () {
    $('.custom-file-input').on('change', handleFileSelect);
    function handleFileSelect(evt) {
        $('#preview').remove();// 繰り返し実行時の処理
        $(this).parents('.input-group').after('<div id="preview"></div>');

      var files = evt.target.files;

      var output = [];
      for (var i = 0, f; f = files[i]; i++) {
        output.push('<li>', escape(f.name), ' (', (f.size / 1024 ** 2).toFixed(1), ' MB)</li>');
      }
      $('#preview').append('<ul>' + output.join('') + '</ul>');

      $(this).next('.custom-file-label').html(+ files.length + '個のファイルを選択しました');
    }

    $('#_overlay').hide();

    $('#modal_show').on('click', function () {
      // posi = $(window).scrollTop();
      // $('#content').css({
      //   position: 'fixed',
      //   top: -1 * posi
      // });
      $('#_overlay').fadeIn();
      $('#modal1').fadeIn();
      window.open("/log", 'log', "width=750,height=600,scrollbars=yes");
    });
  })

</script>

{% endblock %}
