.text-helper_img {
  width: 16px;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
  z-index: 6;
}
.text-helper_helper {
  display: none;
  width: 600px;
  background-color: #666;
  padding: 12px 16px;
  color: #fff;
  border-radius: 18px;
  position: absolute;
  z-index: 5;
  bottom: -10px;
  left: 30px;
  -webkit-transition: 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.text-helper_img:hover ~ .text-helper_helper {
  display: inline;
  opacity: 0.8;
}
h3 {
  display: inline;
}
/* .text-helper_helper:before {
  content: "";
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
  margin-top: -5px;
  border-right-color: #666;
  right: 96%;
  top: 70%;
  transform: rotate(-27deg);
} */
.text-helper {
  /* display: grid; */
  /* grid-template-columns: 0fr 8fr; */
  grid-column-gap: 10px;
  align-items: center;
  display: inline-block;
}
/* .text-helper p {
  margin: 0;
} */
.text-helper_content {
  width: fit-content;
  position: relative;
  display: inline-block;
  margin: 10px 0;
}
/* .text-helper_content h3 {
  margin: 0;
  display: inline-block;
} */

._overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.custom-file {
  max-width: 20rem;
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
