<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}SNPWorkFlow{% endblock %}</title>
  <link rel="stylesheet" href="../../static/bootstrap.min.css" />
  <link rel="stylesheet" href="../../static/ancat_base.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <script src="../static/jquery-3.3.1.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  <header>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/select-genome"> SNPWorkFlow </a>
      <a class="navbar-brand" href="/help"> help </a>
    </nav>
  </header>
  <main class="mb-5">
    <div>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul class="list-group">
          {% for category, message in messages %}
          <li class="list-group-item {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container" id="content">
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </main>
  <footer class="fixed-bottom text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    ©2019-2021
    <a class="text-reset fw-bold" href="https://www.kazusa.or.jp/">Kazusa DNA Research Institute</a>
    </div>
  </footer>
</body>

<script src="../static/bs-custom-file-input.js"></script>
<script>
  bsCustomFileInput.init();
</script>

</html>
